* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation Bar CSS */

.bar {
  background-color: rgb(134, 0, 0);
  color: white;
  display: flex;
  margin-bottom: 2em;
  padding-left: 1em;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1.5em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

.hidden-input {
  display: none;
}

nav {
  margin-left: auto;
}

/* To-Do CSS (Temporary) */
.container {
  background-color: rgb(121, 121, 121);
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
}

.todo {
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.input {
  border: none;
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 18px;
}

.todoName {
  font-size: 20px;
  font-weight: bold;
  padding-left: 1em;
}

.todoDescription {
  margin-bottom: 1em;
  padding-left: 1em;
}

.button {
  background-color: black;
  color: white;
  outline: none;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 1em;
}
